BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG I2C_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SDM_PORT=DISABLE JTAG_PORT=ENABLE MCCLK_FREQ=19.0;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;

LOCATE COMP "spi_miso"   	SITE "32";
LOCATE COMP "spi_sclk"   	SITE "31";
LOCATE COMP "spi_mosi"   	SITE "49";
LOCATE COMP "i2c_sda"    	SITE "85";
LOCATE COMP "i2c_scl"       SITE "86";
LOCATE COMP "spi_n_ss_0" 	SITE "27";
LOCATE COMP "spi_n_ss_1" 	SITE "28";
LOCATE COMP "status_grn" 	SITE "41";
LOCATE COMP "status_red" 	SITE "40";
LOCATE COMP "intf_en"    	SITE "35";
LOCATE COMP "intf_dir_mosi"	SITE "7";
LOCATE COMP "intf_dir_miso" SITE "8";

IOBUF PORT "i2c_sda"    	IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "i2c_scl"    	IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "spi_mosi"   	IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "spi_miso"   	IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "spi_sclk"   	IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "spi_n_ss_0"  	IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "spi_n_ss_1"		IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "status_grn" 	IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "status_red" 	IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "intf_en" 		IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "intf_dir_mosi" 	IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "intf_dir_miso" 	IO_TYPE=LVCMOS33 PULLMODE=NONE;

USE PRIMARY   NET "clk_in_inferred_clock";
//USE SECONDARY NET "clken_tx";